/* Container Styling */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 20rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: nowrap;
}

/* Card Styling */
.card {
    background-color: #ED5A72;
    border-radius: 12px;
    width: 300px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    color: white;
    margin: 1rem;
    flex-shrink: 0;
}

.card:hover {
    transform: scale(1.05);
}

.icon {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.contact-info {
    font-size: 1.25rem;
    font-weight: bold;
}

.label {
    font-size: 1rem;
    color: #FADBE3;
    margin-top: 0.5rem;
}

/* Pink-themed icons */
.linkedin, .email, .github {
    color: #FADBE3;
}

/* Media Query for Tablets and Smaller Screens */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        padding: 7rem 0;
        margin-left:0;
        width: 100%;
    }

    .card {
        width: 300px;
        height: 300px;
        padding: 2rem 1rem;
    }
}

/* Media Query for Mobile Screens */
@media (max-width: 480px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .card {
        width: 300px;
        height: 300px;
    }

    .icon {
        font-size: 1.75rem;
    }

    .contact-info {
        font-size: 1.15rem;
    }

    .label {
        font-size: 0.85rem;
    }
}
